body {
    margin: 0 10%;
    background-color: skyblue;
}

.colors {
    width: 100%;
    border: 10px double ghostwhite;
    padding-left: 10px;
    padding-bottom: 20px;
}

.ghostwhite {
    background-color: ghostwhite;
    width: 30%;
    height: 100px;
    text-align: center;
    padding-top: 10px;
    display: inline-block;
}

.royalblue {
    background-color: royalblue;
    width: 30%;
    height: 100px;
    text-align: center;
    padding-top: 10px;
    display: inline-block;
}

.gold {
    background-color: gold;
    width: 30%;
    height: 100px;
    text-align: center;
    padding-top: 10px;
    display: inline-block;
}

.fonts_container {
    border: 10px double ghostwhite;
    margin-top: 10px;
    padding-left: 10px;
    width: 100%;
}

p.big {
    font-size: 28px;
}

p.medium {
    font-size: 24px;
}

p.small {
    font-size: 20px;
}

.fontone {
    display: inline-block;
    width: 40%;
    margin: 0px auto;
    position: relative;
    bottom: 10px;
}

.fonttwo {
    display: inline-block;
    width: 40%;
    margin: 0px auto;
}

.audiowide {
    font-family: Audiowide, "Times New";
    font-size: 36px;
}

p.audiowide {
    font-family: Audiowide;
}

.sofia {
    font-family: Sofia;
    font-size: 36px;
}

h1 {
    font-family: Sofia;
    font-size: 48px;
    text-align: center;
}

h2 {
    font-family: Sofia;
    font-size: 36px;
}